.container-profile{
    position: relative;
    display: flex;
    /* border: 2px solid black; */
    top: 30px;
}

.profile-image{
    /* border: 2px solid black; */
    width: 200px;
    position: relative;
    left: 50px;
}
.profile-image img{
    height: 220px;
    position: relative;
    top: 10px;
}

.btn-section{
    /* float: right; */
    position: relative;
    top: 40px;
    left: 300px;
    height: 150px;
    /* border: 2px solid black; */
    display: grid;
}

.btn-section button{
    width: 130px;
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 8px;
}

.btn-section button:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
}

.container-center{
    position: relative;
    left: 150px;
    top: -15px;
}

.container-center p{
    font-size: 20px;
}

.biography{
    position: relative;
    left: 100px;
    top: -20px;
    font-size: 23px;
    width: 940px;
}

.container-center h1{
    font-size: 40px;
}

.container-center p{
    position: relative;
    top: -13px;
}