.pat-loggedin-container {
  border: 0.1px solid blue;
  box-shadow: 1px 1px 5px rgba(207, 207, 207, 0.6);
  min-height: 90vh;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

.pat-navigation {
  border: 1px solid blue;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(74, 74, 254);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.pat-search-bar {
  height: auto;
  margin-top: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.pat-left-section {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.pat-left-section h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.pat-left-section img {
  height: 60px;
}

.pat-center-section {
  display: flex;
  gap: 70px;
  color: white;
}
.pat-center-section p {
  transition: 0.4s ease-in-out;
  font-size: 20px;
}
.pat-center-section p:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pat-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pat-right-section button {
  height: 40px;
  width: 130px;
  background-color: rgba(1, 1, 70, 0.447);
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.4s ease-in-out;
}
.pat-right-section button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.342);
  transform: scale(1.2);
}

.pat-search-bar h1 {
  color: blue;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.doctor-search-option {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin: 15px 20px;
}
.doctor-search-option input {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid rgb(196, 196, 196);
  outline: none;
}
.doctor-search-option input:focus {
  border: 1.5px solid blue;
}
.doctor-search-option button {
  height: 40px;
  width: 150px;
  background-color: rgb(74, 74, 254);
  color: white;
  border: none;
  border-radius: 8px;
}
.doctor-search-option button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px black;
}

.card {
  border: 1.5px solid blue;
  width: 300px;
  border-radius: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.card-div {
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(74, 74, 254);
  font-size: 35px;
  text-align: center;
  height: 55px;
  color: white;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.profile-section img {
  height: 70px;
}

.pat-detail h3 {
  color: rgb(74, 74, 254);
  font-size: 25px;
}
.pat-detail-problem,
.pat-detail-gender {
  color: rgb(82, 82, 82);
  font-size: 25px;
}

.pat-email {
  text-align: center;
  color: rgb(82, 82, 82);
  overflow-wrap: break-word;
  font-size: 15px;
  margin-top: -10px;
  /* margin-bottom: 14px; */
}

.pat-edit-profile-btn {
  height: 33px;
  width: 150px;
  margin: 10px auto;
  display: block;
  border-radius: 8px;
  border: 1.5px solid blue;
  background-color: transparent;
  color: blue;
  font-size: 18px;
}
.pat-edit-profile-btn:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}

.fileLogo {
  height: 150px;
  display: block;
  margin: 20px auto;
}

.card h4 {
  text-align: center;
  overflow-wrap: break-word;
  font-size: 20px;
}

.card-report-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.card-report-section button {
  height: 43px;
  width: 250px;
  font-size: 16px;
  border: 1.5px solid blue;
  background-color: transparent;
  color: blue;
  border-radius: 8px;
}
.card-report-section button:hover {
  cursor: pointer;
  background-color: blue;
  color: white;
}
.card-report-section img {
  height: 150px;
}
